.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 16px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    width: calc(100vw - 48px);
  }
  .no_scroll {
    overflow-y: hidden;
  }
  .container {
    overflow-x: hidden;
    max-height: calc(100vh - 112px);
  }